.distill-site-nav {
  /*color: rgba(224, 169, 232, 0.8);*/
  background-color: #1BBA36;
  font-size: 20px;
  font-weight: 300;
}

.distill-site-nav a.title {
  font-size: 25px;
}

.distill-site-nav a {
  color: darkblue;
  text-decoration: none;
}


.distill-site-nav a:hover {
  color: white;
}



